<?xml version="1.0" encoding="utf-8" ?>
<!--<configuration debug="true">-->
    <!--<appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">-->
        <!--<encoder>-->
            <!--<pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern>-->
        <!--</encoder>-->
    <!--</appender>-->
    <!--<root level="debug">-->
        <!--<appender-ref ref="STDOUT"/>-->
    <!--</root>-->
<!--</configuration>-->

<configuration>
　　　　　　<appender name="FILE" class="ch.qos.logback.core.FileAppender">
    　　　　　　　　<file>/opt/apache-tomcat-hanlp/logs/hanlp.log</file>
    <!--//注意修改目录地址-->
    　　　　　　　　<append>true</append>
    　　　　　　　　<encoder>
    　　　　　　　　　　<pattern>%d{YYYY-MM-dd HH:mm:ss} [%thread] %-5level %logger{36} - %msg%n</pattern>
    　　　　　　　　</encoder>
    　　　　　　</appender>
　　　　　　<root level="DEBUG">
    　　　　　　<appender-ref ref="FILE" />
    　　　　　　</root>
</configuration>


<!--<configuration debug="true">-->
<!--<appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">-->
    <!--&lt;!&ndash; encoders are  by default assigned the type-->
         <!--ch.qos.logback.classic.encoder.PatternLayoutEncoder &ndash;&gt;-->
    <!--<encoder>-->
        <!--<pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern>-->
    <!--</encoder>-->
<!--</appender>-->

<!--<root level="debug">-->
    <!--<appender-ref ref="STDOUT"/>-->
<!--</root>-->
<!--</configuration>-->